@import "../../common/colors.scss";

.movieList,
.seriesList {
  width: 100%;

  .movieListingWrapper,
  .seriesListingWrapper {
    width: 100%;

    & h2 {
      font-size: 2.2rem;
      margin-bottom: 15px;
    }

    .moviesContainer,
    .seriesContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px 15px;
    }
  }
}

.seriesList {
  margin-top: 30px;
}
