@import "./common/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

html {
  font-size: 10px;
}

body {
  color: $fontPrimaryColor;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $primaryColor;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.app {
  width: 100%;
  background: url("./images/background-image.jpg"), #aaa;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;

  & .appWrapper {
    width: 100%;
    min-height: 100vh;
    background-color: rgba($color: $primaryColor, $alpha: 0.9);
    backdrop-filter: blur(4px);
    position: relative;

    & .midContainer {
      width: 100%;
      padding: 20px 50px 90px 50px;
    }
  }
}
